body {
  color: #FFD700;
  font-family: "Arial" serif;
  background-color: #262626;
  padding: 5px;
}

p {
  text-align: center;
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h1 {
  font-size: 48px;
  border: 5px solid #C0C0C0;
  text-align: center;
}

img {
  border: 5px solid #FFD700;
  display: block;
  margin: auto;
  float: center;
}

code,
pre {
  color: #FFD700;
  font-family: "Arial" serif;
}

.modded {
  margin: 75%;
  float: left;
}
