
body {
  color: #FFD700;
  font-family: "Arial" serif;
  background-color: #262626;
  padding: 5px;
}

p,
ul,
li {
  font-size: 16px;
}

h2 {
  font-size: 24px;
}


h1 {
  font-size: 48px;
  border: 5px solid #C0C0C0;
  text-align: center;
}

img {
  border: 5px solid #FFD700;
  width: 400px;
  display: block;
  margin: auto;
}

a {
  font-size: 24px;
  font-weight: bold;
  color: #C0C0C0;
}

li {
  display: inline;
  padding: 10px;
}

ul {
  text-align: center;
  padding: 10px;
}

#CenterLists {
  text-align: end;
  display: list-item;
  list-style: none;
}

#p0img {
  float: left;
}

.attributes {
  text-align: center;
  margin-top: 15%;
}

.quotes {
  margin-top: 200px;
}
