
body {
  color: #FFD700;
  font-family: "Arial" serif;
  background-color: #262626;
  padding: 5px;
}

p,
ul {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}


h1 {
  font-size: 48px;
  border: 5px solid #C0C0C0;
  text-align: center;
}

a {
  font-size: 24px;
  font-weight: bold;
  color: #C0C0C0;
}

li {
  display: inline;
  padding: 10px;
}

ul {
  text-align: center;
  padding: 10px;
}

#quotes {
  display: list-item;
  list-style: none;
  text-align: end;
}

img {
  border: 5px solid #FFD700;
  display: block;
  margin: auto;
  float: left;
}

#p0img {
  width: 400px;
}

#p1img {
  width: 380px;
}

#p2img {
  width: 700px;
}

#coverPage {
  width: 600px
}

#index {
  text-align: center;
}

#lightLinks {
  margin-top: 5%;
}

#index {
  color: #FFD700;
}

#kdj {
  color: #FFD700;
}

#hsy {
  color: #FFD700;
}

#yjk {
  color: #FFD700;
}

#source {
  color: #FFD700;
  font-size: 18px;
}

#Synopsis {
  margin-top: 15%;
  text-align: end;
  margin-left: 50%;
  font-size: 24px
}

#caption {
  text-align: start;
  margin-top: 29%
}

.attributes {
  text-align: center;
  margin-top: 15%;
}

.quotes {
  margin-top: 200px;
}
